.article-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

  .article-wrapper {
    background-color: white;
    border-radius:40px;
    padding: 20px;
    width: 1280px;
    height: 1411px;
    display: flex;
    margin: auto;
    margin-bottom: 100px;
    justify-content: center;
    overflow: hidden;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    -ms-border-radius:40px;
    -o-border-radius:40px;
}

  #popular-articles {
    background-image: url('../assets/Partikel_2.png');
    background-size: 100vh;
    text-align: left;
    padding: 20px;
  }
  

  #popular-articles h1 {
    font-size: 2.2rem;
    padding-left: 90px;
    margin-top: 5%;
  }

  #popular-articles h1 span.colored {
    color: #356835;
  }

  #popular-articles h1 span.colored2 {
    color: #737373;
  }
  
  .article-item {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 30px;
    background-color:white;
    box-shadow: green 1px 1px;
    border-radius: 13px;
    overflow: hidden;
    padding: 0px 20px;
    box-sizing: border-box;
    text-align: left;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
  }
  
  .article-item img {
    width: 100%;
    border-radius: 5px;
  }
  
  .article-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    color: #000;
  }
  
  .article-content h2 {
    margin-bottom: 20px;
  }
  
  .article-content p {
    margin-bottom: 20px;
  }
  
  .learn_more_btn {
    display: inline-block;
    background-color: #478b46;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    align-self: center;
    transition: background-color 0.3s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
  
  .learn_more_btn:hover {
    background-color: #3b3b3b;
  }
  