.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
  background-color: white;
  font: poppins;
}

.contact,
.follow,
.feedback {
  width: 30%;
  margin-top: 250px;
  margin-left: 60px;
  color: white;
}

.contact h3,
.follow h3,
.feedback h3 {
  font-size: 2.4rem;
  margin-bottom: 10px;
  color: white;
}

.contact p {
  margin: 0;
}

.social-media {
  display: flex;
  align-items: center;
}

.follow-text {
  margin-left: 10px;
}

.social-media img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.feedback form {
  display: flex;
  width: 307px;
  height: 350px;
  flex-direction: column;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  font-family: poppins;
  
  
}

.feedback input,
.feedback textarea {
  margin-bottom: 2px;
  padding: 5px;
  color: #BDBDBD;

/* Body Small/Reguler */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.5px;
}

.feedback button {
  padding: 1px;
  font-size: 1.3rem;
  background-color: #356835;
  color: white;
  border: none;
  padding: 10px 60px;
  width: 250px;
  height: 48px;
  flex-shrink: 0;
   
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 50px;
  margin-top: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 5px;
  margin-left: 35px;
    
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.5px;
  color: var(--Foundation-White-Normal, #FFF);
  text-align: center;
}

.feedback button:hover {
  background-color: #3c7240;
}

.donate-image {
  width: 376px;
  height: 239pxx;
  margin-top: 30px;
  margin-left: -40px;
}

.footer {
  margin-top: -110px;
  background-image: url('../assets/Footer.png');
  background-size: cover;
  background-position: center;
  width: 1450px;
  height: 595px; 
  padding: 15vh;
}

.feedback input[type="text"]::placeholder,
.feedback input[type="email"]::placeholder,
.feedback textarea::placeholder {
  color: #b2b2b2;
}
