/* src/App.css */
body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  /* margin-bottom: 20px; */
}

.header img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-right: 10px;
}

.header h2 {
  margin: 0;
  font-size: 24px;
  color: #4caf50;
}

.order-summary {
  border: 1px solid #dcdcdc;
  padding: 20px;
  border-radius: 10px;
  height: 50%;
  width: 50%;
  /* background-color: blue; */
}

.order-summary img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.order-details p {
  margin: 0 0 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.address-details {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button-container button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button-container button:hover {
  background-color: #45a049;
}

.footer-pesanan {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  color: #888;
}
